 <div class="navbar navbar-default">
        <div class="container-fluid">
    
            <div class="navbar-header">
                <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
                    <img style="max-width:100px; margin-top: -7px;"
                         src="../assets/img/logo.PNG">
                </a>
            </div>
            
            <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class=" "><a href="#">Products</a></li>
                    <li><a href="#">Workspaces</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Journal</a></li>
                    <li><a href="#">How it Works</a></li>
                 
                </ul>
                <div class="navbar-form navbar-right" >
                    <ul class="list-inline right_list">
                        <li><button class="btn btn-default sign_button">SIGN IN</button></li>
                        <li><button class="btn btn-default sign_button">SIGN UP</button></li>
                    </ul>
                </div>
            </div>
    
        </div>
    </div>




<!--Don't remove this  -->
<router-outlet></router-outlet>
